# IntelliJ / Android Studio
*.iml
.idea/
.DS_Store

# Gradle
.gradle/
local.properties

# Build outputs
/build/
app/build/
*/build/

# NDK, CMake y cosas nativas
.cxx/
.externalNativeBuild/

# Capturas del emulador
/captures/

# Archivos temporales
*.log

# Configuración de Gradle Wrapper (estos sí se deben subir)
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat
